<!DOCTYPE html>
<html lang="en">
<head>
    <title>MeReal</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.3.0/css/font-awesome.min.css" />
    <script src="js/modernizr.custom.js"></script>
	<link rel="stylesheet" type="text/css" href="css/normalize.css" />


</head>
<body>
<div class = "bodyDiv">
{{{body}}}
</div>


<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="https://cdn.pubnub.com/pubnub.min.js"></script>
<script src="js/webrtc.js"></script>
<script src="js/index.js"></script>
</body>
</html>
