<div class="row" style="margin:1%">
    <div class="col-sm-12 col-md-12">
        <h1>QUẢN LÝ QUÀ TẶNG</h1>
    </div>
</div>

<div class="row" style="margin:0%; text-align:left;">
    <div class="col-sm-6 col-md-2">
        <button class="btn btn-success">Thêm quà tặng</button>
    </div>
    <div class="col-sm-0 col-md-10"></div>
</div>

<div class="row" style="margin:1%">
    <table id="tableGift" class="table table-bordered table-hover" style="color: white;background-color: #3c8dbc;">
    </table>
</div>

<script src="js/gift.js"></script>