<div class="col-sm-6 col-md-9" style="margin-top:1%">
   <div id="vid-box"></div>

    <div id="stream-info" hidden="true">
        <button id="end" onclick="end()" hidden="true">Xong</button>
        <img src="img/person_dark.png" />
        <span id="here-now">0</span>
    </div>

    <button class="btn btn-primary" onclick=" errWrap(stream);">Stream</button>
    <button class="btn btn-danger" onclick=" errWrap(watch);">Xem</button>

    <div id="logs" class="ptext" style="background-color:white"></div>
</div>
<div class="col-sm-6 col-md-3">
    <br>
     <div class="box box-primary direct-chat direct-chat-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Chat</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="direct-chat-messages">
                <div class="direct-chat-msg right">
                    <div class="direct-chat-info clearfix">
                        <span class="direct-chat-name pull-right">{{user.fullname}}</span>
                        <div class="textavatar textavatar-chat pull-right" data-name="{{user.fullname}}"></div> 
                        <span class="direct-chat-timestamp pull-left">05/08/2019 11:11:11</span>
                    </div>

                    <div class="direct-chat-text">Nội dung chat ở đây</div>
                </div>

                <div class="direct-chat-msg left">
                    <div class="direct-chat-info clearfix">
                        <span class="direct-chat-name pull-right">{{user.fullname}}</span>
                        <div class="textavatar textavatar-chat pull-right" data-name="{{user.fullname}}"></div> 
                        <span class="direct-chat-timestamp pull-left">05/08/2019 11:11:11</span>
                    </div>
                    <div class="direct-chat-text">Nội dung chat ở đây</div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <form action="#" method="post">
                <div class="input-group">
                    <input type="text" name="message" placeholder="Nhập nội dung..." class="form-control">
                    <span class="input-group-btn">
                            <button type="button" class="btn btn-primary btn-flat">Gửi</button>
                          </span>
                </div>
            </form>
        </div>
    </div>
</div>