<div id="vid-box"></div>
    
    
<div id="stream-info" hidden="true">
        <button id="end" onclick="end()" hidden="true">Done</button>
        <img src="img/person_dark.png"/>
        <span id="here-now">0</span>       
</div> 

    
<form name="streamForm" id="stream" action="#" onsubmit="return errWrap(stream,this);">
    <span class="input input--nao">
        <input class="input__field input__field--nao" type="text" name="streamname" placeholder="Enter Stream Name" id="streamname"/>
                <label class="input__label input__label--nao" for="streamname">
                    <span class="input__label-content input__label-content--nao">        
                    </span>
                </label>
            <svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
            </svg>
    </span>

      <button class="cbutton cbutton--effect-radomir" type="submit" value="Stream" name="stream_submit" style="margin-top: 40px; margin-left:-10px">
            <i class="cbutton__icon fa fa-fw fa fa fa-video-camera"></i>
        </button>
</form>
    

<form name="watchForm" id="watch" action="#" onsubmit="return errWrap(watch,this);">
    <span class="input input--nao">
        <input class="input__field input__field--nao" type="text" name="number" placeholder="Enter Stream To Watch!"/>
                <label class="input__label input__label--nao" for="number">
                    <span class="input__label-content input__label-content--nao">        
                    </span>
                </label>
            <svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
            </svg>
    </span>

       <button class="cbutton cbutton--effect-radomir" type="submit" value="Watch" style="margin-top: 40px; margin-left:-10px">
                <i class="cbutton__icon fa fa-fw fa fa-eye"></i>
        </button>
</form>  
    
<div id="inStream" class="ptext">
	Embed Style: <button onclick="genEmbed(400,600)">Tall</button><button onclick="genEmbed(600,400)">Wide</button><button onclick="genEmbed(500,500)">Square</button><br>
	<div id="embed-code"></div>
	<div id="embed-demo"></div>
</div>
    
<div id="logs" class="ptext" style="background-color:white"></div>

<div class="ptext">
    <p><b>To Use:</b></p>
    <p>Type a channel to stream to and click Stream.</p>
    <p>In a separate browser window, join the steam you created.</p>
</div>
