<div class="col-sm-6 col-md-9" style="margin-top:1%">
   <div id="vid-box"></div>

    <div id="stream-info" hidden="true">
        <button id="end" onclick="end()" hidden="true">Xong</button>
        <img src="img/person_dark.png" />
        <span id="here-now">0</span>
    </div>

    <button id="btnStream" class="btn btn-primary" onclick=" errWrap(stream);">Stream</button>
    <button id="btnWatch" class="btn btn-danger" onclick=" errWrap(watch);">Xem</button>

    <div id="logs" class="ptext" style="background-color:white"></div>
</div>
<div class="col-sm-6 col-md-3">
    <br>
     <div class="box box-primary direct-chat direct-chat-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Chat</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div id="divChat" class="direct-chat-messages">
            </div>
        </div>
        <div class="box-footer">
            <div class="input-group">
                    <input id="inputMessage" type="text" name="message" placeholder="Nhập nội dung..." class="form-control">
                    <span class="input-group-btn">
                            <button id="btnSend" type="button" class="btn btn-primary btn-flat">Gửi</button>
                    </span>
            </div>
        </div>
    </div>
</div>

<script src="js/socket.io.js"></script>