<div class="row" style="margin-top:1%">
    <div class="col-sm-0 col-md-4">
    </div>
    <div id="divChangeInfo" class="col-sm-0 col-md-4">
        <h1>THÔNG TIN TÀI KHOẢN</h1>
        <img id="imgAvatar" src="#" width="200px" height="200px"/> <br><br><br>
        <input name="file" type="file" id="inputUploadAvatar" class="form-control" ></input> <br>
        <input id="inputFullname" type="text" class="form-control" placeholder="Fullname"> <br>
        <input id="inputEmail" type="email" class="form-control" placeholder="Email" disabled><br>
        <input id="inputUsername" type="text" class="form-control" placeholder="Username" disabled> <br>

        <div class="row">
            <div class="col-sm-0 col-md-6">
                <button id="btnChangePwd1" class="btn btn-primary">Đổi mật khẩu</button>
            </div>
            <div class="col-sm-0 col-md-6">
                <button id="btnSave" class="btn btn-success">Lưu</button>
            </div>
        </div>
    </div>

     <div id="divChangePwd" class="col-sm-0 col-md-4" hidden>
        <h1>Đổi mật khẩu</h1>
        <input id="inputOldPwd" type="password" class="form-control" placeholder="Mật khẩu cũ"> <br>
        <input id="inputPwd" type="password" class="form-control" placeholder="Mật khẩu mới"> <br>
        <input id="inputRePwd" type="password" class="form-control" placeholder="Xác nhận mật khẩu mới"> <br>

        <div class="row">
            <div class="col-sm-0 col-md-6">
                <button id="btnChangePwd2" class="btn btn-primary">Đổi mật khẩu</button>
            </div>

            <div class="col-sm-0 col-md-6">
                <button id="btnBack" class="btn btn-danger">Quay lại</button>
            </div>
        </div>
    </div>
    <div class="col-sm-0 col-md-4">
    </div>
</div>
<script src="js/profile.js"></script>