<div class="row" style="margin:1%">
    <div class="col-sm-12 col-md-12">
        <h1>QUẢN LÝ CÂU HỎI</h1>
    </div>
</div>

<div class="row" style="margin:0%">
    <div class="col-sm-6 col-md-2">
        <p class="form-control"><b>Chọn yêu cầu:</b></p>
    </div>
    <div class="col-sm-6 col-md-2">
        <select id="selectRequest" class="form-control">
        </select>
    </div>
    <div class="col-sm-0 col-md-8"></div>
</div>

<div class="row" style="margin:1%">
    <table id="tableQuestion" class="table table-bordered table-hover" style="color: white;background-color: #3c8dbc;">
    </table>
</div>

<div class="row" style="margin:1%">
    <div class="col-sm-12 col-md-12">
        <h1>DANH SÁCH CÂU TRẢ LỜI</h1>
    </div>
</div>

<div class="row" style="margin:1%">
    <table id="tableAnswer" class="table table-bordered table-hover" style="color: white;background-color: #3c8dbc;">
    </table>
</div>

<script src="js/question.js"></script>