<div class="row" style="margin:1%">
    <div class="col-sm-12 col-md-12">
        <h1>QUẢN LÝ NGƯỜI DÙNG</h1>
    </div>
</div>

<div class="row" style="margin:1%">
    <table id="tableUser" class="table table-bordered table-hover" style="color: white;background-color: #3c8dbc;">
    </table>
</div>

<script src="js/user.js"></script>