
.textavatar {
display: table;
width: -webkit-fill-available !important;
}
.textavatar abbr {
display: table-cell;
text-align: center;
vertical-align: middle;
font-weight: bold;
line-height: 1em;
padding-left: .1em;
letter-spacing: .1em;
/* Avoid <a href="https://www.jqueryscript.net/tags.php?/Bootstrap/">Bootstrap</a> css */
border-bottom: 0 !important;
cursor: default !important;
}
/* Custom styles */
.textavatar {
border-radius: 4px;
background-color: whitesmoke;
color: #535353;
margin-bottom: 6px;
}