
.textavatar {
display: table;
width: -webkit-fill-available !important;
}
.textavatar abbr {
display: table-cell;
text-align: center;
vertical-align: middle;
font-weight: bold;
line-height: 1em;
padding-left: .1em;
letter-spacing: .1em;
/* Avoid <a href="https://www.jqueryscript.net/tags.php?/Bootstrap/">Bootstrap</a> css */
border-bottom: 0 !important;
cursor: default !important;
}
/* Custom styles */
.textavatar {
border-radius: 4px;
background-color: whitesmoke;
color: #535353;
margin-bottom: 6px;
}

.textavatar-chat {
    width: 20px !important;
    height: 20px !important;
    font-size: 20px !important;
    margin-right: 1%;
}

.right .direct-chat-text {
    margin-right: 1%;
    height: auto;
}

.left .direct-chat-text {
    margin-left: 1%;
    height: auto;
}

@media only screen and (max-height: 600px) {
    .direct-chat-messages {
        height: 250px !important;
    }
}

@media only screen and (max-height: 900px) {
    .direct-chat-messages {
        height: 350px !important;
    }
}

@media only screen and (min-height: 800px) {
    .direct-chat-messages {
        height: 600px !important;
    }
}